body {
    background: #eee;
    padding-bottom: 240px;
    position: relative;
}

.article {
    background: #fff;
}

header {
    background: #582368;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 50px;

    h3 {
        margin: 0 0 20px 0;
    }
}

.editable {
  outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 50px 50px 0;
    font-family: "Times New Roman", Serif;
}

.content {
    padding: 0 20px 0 70px;

    @media (max-width: 500px) {
        padding: 0 0 0 50px;
    }
}

.buffer {
    padding-top: 40px;
}

span {
  &.editable {
    display: inline-block;
    min-width: 100px;
    height: 15px;
    text-decoration: underline;
  }

  &.text-input {
    min-width: 200px;
    min-height: 20px;
    vertical-align: bottom;
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid #b30303;

      &.active {
          border-bottom: 1px solid #0319b3;
          background: rgba(3,25,179,.1);
      }

  }

  &.text-input.text-xs {
    min-width: 40px;
  }

  &.text-input.text-xl {
      width: 100%;
  }

}

.p {
    font-size: 16px;
}

p {
  .p
}

.red {
  color: red;
}

h4 {
  margin-bottom: 0;
}

section {
  display: inline-block;
  width: 500px;
}

.print {
    margin-right: 20px;
}

.info-check {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.check {
    font-weight: normal;
    width: 86%;
    margin-left: 10px;
}

.info {

    input, select, button {
        margin-top: 8px;
    }
}

.buttons {
    > div {
        margin-top: 15px;
    }

  .word-btn {
    @media (min-width: 768px) and (max-width: 991px) {
      float: none;
      margin-top: 60px;
    }
  }
}

.btn-primary {
  background-color: #742f8a;
  border-color: #582368;

  &:hover {
    background-color: #582368;
    border-color: #742f8a;
  }
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #742f8a;
  border-color: #582368;
}

.polina {
    padding: 40px 0 30px;

    form {
        .form-control {
            @media (min-width: 500px) {
                width: auto;
            }
        }
        input, select {
            margin-right: 10px;
        }
    }
}

.application-header {
  width: 61%;
  float: right;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 900px) {
      width: 95%;
      float: none;
      margin: 0 20px 0 50px;
  }

  td:first-child {
    @media (max-width: 900px) {
      display: none;
    }
  }

  td:nth-child(2) {
    @media (max-width: 900px) {
        width: 100%;
    }
  }

    #header {
        @media (max-width: 500px) {
            padding-right: 20px;
        }
    }
}

@media only print {
  .btn, .not-printable {
    display: none;
  }

  @page {
    margin: 0 40px;
    padding: 40px 0;
  }

  .application-header {
    width: 500px;
    float: right;
  }
}

.alert {
    width: 100%;
    height: 150px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    font-size: 22px;
    text-align: center;

    @media (max-width: 500px) {
        height: 150px;
    }

    span {
        font-size: 30px;
    }
}

footer {
  background: #582368;
  color: #eee;
  padding: 30px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  text-align: center;

  .teplica-logo {
    display: inline-block;
    vertical-align: inherit;
    margin-left: 25px;

    img {
      height: 34px;
      width: 210px;
    }

    @media (max-width: 512px) {
      margin-top: 10px;
    }
  }

  .cc-logo {
    display: inline-block;
    vertical-align: inherit;
    img {
      height: 45px;
    }

    @media (min-width: 512px) {
      margin-top: 10px;
    }
  }
}
