body {
    background: #eee;
    padding-bottom: 150px;
}

.article {
    background: #fff;
}

header {
    background: #582368;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 50px;

    h3 {
        margin: 0 0 20px 0;
    }
}

.editable {
  outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 50px 50px 0;
    font-family: "Times New Roman", Serif;
}

.content {
    padding: 0 20px 0 70px;

    @media (max-width: 500px) {
        padding: 0 0 0 50px;
    }
}

.buffer {
    padding-top: 40px;
}

span {
  &.editable {
    display: inline-block;
    min-width: 100px;
    height: 15px;
    text-decoration: underline;
  }

  &.text-input {
    min-width: 200px;
    min-height: 20px;
    vertical-align: bottom;
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid #b30303;

      &.active {
          border-bottom: 1px solid #0319b3;
          background: rgba(3,25,179,.1);
      }

  }

  &.text-input.text-xs {
    min-width: 40px;
  }

  &.text-input.text-xl {
      width: 100%;
  }

}

.p {
    font-size: 16px;
}

p {
  .p
}

.red {
  color: red;
}

h4 {
  margin-bottom: 0;
}

section {
  display: inline-block;
  width: 500px;
}

.print {
    margin-right: 20px;
}

.info-check {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.check {
    font-weight: normal;
    width: 86%;
    vertical-align: bottom;
    margin-left: 10px;
}

.info {
    display: none;

    input, select, a {
        margin-top: 8px;
    }
}

.buttons {
    > div {
        margin-top: 15px;
    }
}

.polina {
    padding: 40px 0 30px;

    form {
        .form-control {
            width: auto;
        }
        input, select {
            margin-right: 10px;
        }
    }
}

.application-header {
  width: 61%;
  float: right;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 900px) {
      width: 95%;
      float: none;
      margin: 0 20px 0 50px;
  }

  td:first-child {
    @media (max-width: 900px) {
      display: none;
    }
  }

  td:nth-child(2) {
    @media (max-width: 900px) {
        width: 100%;
    }
  }

    #header {
        @media (max-width: 500px) {
            padding-right: 20px;
        }
    }
}

@media only print {
  .btn, .not-printable {
    display: none;
  }

  @page {
    margin: 0 40px;
    padding: 40px 0;
  }

  .application-header {
    width: 500px;
    float: right;
  }
}
